﻿ * {
    box-sizing: border-box;
}

.body {
    font-size: 22px;
}

.FlexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.MyTable {
    width: 500px;
    border-collapse: collapse;
    background: #FFF;
}


    .MyTable thead {
        color: #FFF;
        background: #3498DB;
    }

    .MyTable th td {
        border: 1px solid #CECECE;
    }

    .MyTable tbody tr:nth-child(odd) {
        background: #EEE;
    }

.ColumnFirstName {
    width: 175px;
}

.ColumnSecondName {
    width: 175px;
}

.ColumnJobTitle {
    width: 310px;
}

.ColumnTwitter {
    width: 200px;
}
