* {
    box-sizing: border-box;
}

html {
    font-family: "Arial", sans-serif;
    font-size: 16px;
}

.FormWithTitle {
    margin: auto;
    max-width: 840px;
    color: #676576;
}

.MainTitleText {
    font-size: 32px;
    margin: 10px 10px;
}

.Form {
    width: 100%;
    min-height: 530px;
    position: relative;
    background-color: #feeed6;
    padding: 0 20px 20px 15px;
}

    .Form input {
        width: 100%;
        height: 40px;
        border-style: none;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        text-indent: 10px;
        padding: 0;
    }

    .Form textarea {
        width: 100%;
        height: 130px;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        text-indent: 10px;
        padding: 10px 0 0 0;
        border-style: none;
        resize: vertical;
    }

    .Form button {
        position: absolute;
        right: 20px;
        bottom: 15px;
        width: 170px;
        height: 40px;
        color: #fff;
        background-color: #378db2;
        font-weight: bold;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        border-style: none;
    }

    .Form button:hover {
        background-color: greenyellow; 
    }

.TitleText {
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.DescriptionText {
    margin: 10px 0 10px 0;
}

.ContentBlock {
    padding: 10px 0 0 0;
}