* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
}

.form_with_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: auto;
    max-width: 840px;
    color: #676576;
}

.main_title_text {
    font-size: 32px;
    margin: 10px 10px;
}

.form {
    width: 100%;
    min-height: 530px;
    position: relative;
    background-color: #feeed6;
    padding: 0 20px 20px;
}

    .form input {
        width: 100%;
        height: 38px;
        border-style: none;
        font-size: 16px;
        padding:  0 10px;
    }

    .form textarea {
        width: 100%;
        height: 130px;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        padding: 10px;
        border-style: none;
        resize: vertical;
    }

    .form button {
        position: absolute;
        right: 20px;
        bottom: 15px;
        padding: 11px 13px;
        color: #fff;
        background-color: #378db2;
        font-weight: bold;
        font-size: 16px;
        border-style: none;
    }

        .form button:hover {
            background-color: #80adc0;
            cursor: pointer;
        }

.title_text {
    font-weight: bold;
    margin: 10px 0;
}

.description_text {
    margin: 10px 0;
}

.content_block {
    padding: 10px 0 0;
}
