﻿ * {
    box-sizing: border-box;
}

.flex_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.text_block {
    width: 850px;
    min-height: 462px;
    border-collapse: collapse;
    background-color: #feeed6;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    color: #676576;
}

.title_text {
    font-size: 32px;
    margin: 10px 10px;
}

.parameters_block {
    margin: 16px 0 16px;
}

.parameter_block {
    margin: 10px 0 10px;
}

.parameter_header {
    color: #378DB2;
    font-weight: bold;
    margin: 10px 0 10px 10px;
}

.parameter_strike_through_text {
    text-decoration: line-through;
}

.main_text {
    margin: 10px 10px 5px 10px;
    text-align: justify;
    font-size: 98%;
    line-height: 25px;
    text-indent: 20px;
}
