<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue TODO List </title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles.css" />
    <script defer src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="node_modules/vue/dist/vue.global.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    <div id="app" class="container text-center">
        <h1 class="h1 text-center">Vue ToDo List</h1>
        <form @submit.prevent id="todo-form" class="form">
            <div class="input-group has-validation">
                <label for="new-todo-text"
                       class="form-label">Введите текст:</label>
                <div class="input-group has-validation row">
                    <input id="new-todo-text"
                           :class="{'is-invalid': isNewItemInvalid}"
                           v-model="newTodoText"
                           class="form-control"
                           type="text"
                           placeholder="Текст" />
                    <div class="invalid-feedback text-center">
                        Строка не должна быть пустой!
                    </div>
                </div>
            </div>
            <button id="add-button"
                    @click="addItem"
                    class="btn btn-primary my-1"
                    type="submit">
                Добавить
            </button>
        </form>

        <div class="table-responsive mt-1">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr v-for="(item, index) in items" :key="item.Id">

                        <template v-if="!item.isEditing">
                            <th scope="row" class="col-1 align-middle" v-text="index+1"></th>
                            <td class="px-1 align-middle text-start text-break"
                                v-text="item.text"></td>
                            <td class="col-3 align-middle">
                                <button @click="modifyItem(item)"
                                        class="btn my-1 mx-1 btn-success"
                                        type="button">
                                    Изменить
                                </button>
                                <button @click="deleteItem(item)"
                                        class="btn my-1 mx-1 btn-danger delete-button"
                                        type="button">
                                    Удалить
                                </button>
                            </td>
                        </template>
                        <template v-else>
                            <th scope="row" class="align-middle" v-text="index+1"></th>
                            <td class="col has-validation align-middle">
                                <input class="form-control edit-todo-item mt-1"
                                       :class="{'is-invalid': item.isInvalid}"
                                       v-model="item.editedText">
                                <div class="invalid-feedback">
                                    Строка не должна быть пустой!
                                </div>
                            </td>
                            <td class="col-3 align-middle">
                                <button @click="saveItem(item)"
                                        class="btn my-1 mx-1 btn-success"
                                        type="button">
                                    Сохранить
                                </button>
                                <button @click="exitItem(item)"
                                        class="btn my-1 mx-1 btn-secondary"
                                        type="button">
                                    Выйти
                                </button>
                            </td>
                        </template>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>