* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
}

.form_with_title {
    margin: auto;
    max-width: 500px;
    color: #676576;
}

.main_title_text {
    font-size: 32px;
    margin: 10px;
    text-align: center
}

.form {
    width: 100%;
    min-height: 300px;
    background-color: #feeed6;
    padding: 20px;
}

    .form ul {
        text-align: left;
        padding: 20px;
    }

    .form li {
        list-style-type: circle;
        padding: 5px 0;
    }

    .form input {
        width: 100%;
        height: 40px;
        font-size: 16px;
        text-indent: 10px;
        padding: 0;
        margin: 10px 0;
    }

        .form input:disabled {
            background-color: #ccc;
        }

    .form button.small_button {
        padding: 5px 10px;
        color: #fff;
        background-color: #378db2;
        font-weight: bold;
        font-size: 12px;
        border-style: none;
    }

    .form button.exit_button {
        background-color: #969696;
    }

    .form button.delete_button {
        background-color: #f00;
    }

    .form button.big_button {
        padding: 10px 20px;
        color: #fff;
        background-color: #378db2;
        font-weight: bold;
        font-size: 16px;
        border-style: none;
    }

    .form button:hover {
        background-color: #80adc0;
        cursor: pointer;
    }

.title_text {
    font-weight: bold;
    margin: 10px 0;
}

.description_text {
    margin: 10px 0;
}

.error_message {
    padding: 0 0 10px 0;
    text-align: center;
    color: #f00;
    display: none;
}

.note_error_message {
    padding: 0 0 10px 0;
    color: #f00;
    display: none;
}

.invalid {
    border-color: #f00;
}

    .invalid ~ .error_message {
        display: block;
    }

.content_block {
    text-align: center;
    padding: 10px 0 0 0;
    width: 100%;
}

.todo_item_text {
    padding-right: 5px;
}

.todo_item + .todo_item {
    margin-top: 5px;
}
